{
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": 0,
    "no-console": 0
  }
}
